{
  "include": [
    "src/**/*.{ts,tsx}"
  ],
  "exclude": [
    "src/**/*.spec.{ts,tsx}"
  ],
  "extension": [
    ".ts",
    ".tsx"
  ],
  "require": [
    "ts-node/register",
    "tsconfig-paths/register"
  ],
  "reporter": [
    "text",
    "html"
  ],
  "sourceMap": true,
  "instrument": true
}
